#semilla {
  height: 600px;
  background-image: url(../img/semilla.jpg);
  background-position: center;
  background-size: cover;  
}

.fcarrusel {
  height: 510px;
  background-image: url(../img/fondo2.jpg);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.scarrusel {
  height: 200px;
}

.pcarrusel{
  width: 350px;
}

#logo {
  background-image: url(../img/ecomunidad-logo.png);
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;  
}

.metodologia {
  height: 600px;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover; 
  text-align: center; 
  vertical-align: 300px;
}

.rfoto{
  height: 600px;
  background-image: url(../img/metodo.JPG);
  background-position: center;
  background-size: cover;  
}

.proyectos {
  height: 910px;
  background-color: #5F8039;
}

.radio {
  height: 300px;
  border-radius: 300px;
  background-position: top;
  background-size: cover; 
}

.iconos {
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.verde {
  color: #5F8039;
}